.prod-rcm {
    .prod-rcm-table {
        width: 100%;
    }

    .ant-table-wrapper,
    .ant-table-container,
    .ant-table-content {
        overflow-x: hidden !important;
    }

    .ant-table {
        width: 100% !important;
    }

    .ant-table table {
        width: 100% !important;
        table-layout: fixed !important;
    }

    .ant-table-thead > tr > th,
    .ant-table-tbody > tr > td {
        white-space: nowrap !important;
        overflow: hidden;
        text-overflow: ellipsis;
    }
}
