.product {
    .ant-table {
        table-layout: fixed;
    }

    .ant-table-thead > tr > th {
        white-space: nowrap;
        padding: 8px 6px;
    }

    .ant-table-tbody > tr > td {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        padding: 8px 6px;
    }

    .scope {
        max-width: 100%;
    }
}
