@import "../index.less";

@media screen and (min-width: @md) {
    .seltxt {
        max-width: 240px !important;
        margin: 0px 5px;
    }
}

.seltxt {
    .stxt();
    max-width: 160px;
    margin: 0px 5px;
}

@media screen and (max-width: @lg) {
    .seltxt {
        max-width: 120px !important;
        margin: 0px 5px;
    }
}

@media screen and (max-width: @md) {
    .seltxt {
        max-width: 80px !important;
        margin: 0px 5px;
    }
}

@media screen and (max-width: @xs) {
    .seltxt {
        max-width: 60px !important;
        margin: 0px 5px;
    }
}

@media screen and (max-width: @us) {
    .seltxt {
        max-width: 40px !important;
        margin: 0px 5px;
    }
}

.user-info-dropdown {
    .ant-dropdown-menu {
        min-width: 120px;
    }

    .ant-dropdown-menu-title-content {
        white-space: nowrap;
    }
}
