dynaconf==3.1.9
fastapi==0.79.0
starlette-session==0.4.3
python-multipart==0.0.5
SQLAlchemy==2.0.25
sqlalchemy_utils==0.41.1
psycopg2-binary==2.9.11
alembic==1.13.1
requests==2.30.0
APScheduler==3.9.1.post1
python-dotenv==0.21.0
uvicorn==0.18.2
pandas==2.1.4
openpyxl==3.1.2
python-docx==1.2.0
Pillow==9.1.0
